{% extends "layout.html" %}

{% block title %}Mithila | Core{% endblock %}

{% block content %}
<h1>This is the Core Page.</h1>
<header>
    <nav>
        <a href="#">Logo</a>
    </nav>
</header>
<br>
<h1>Mithila Places</h1>
    <ul>
        {% for item in mithila_items %}
        <li>
            <h2>{{ item.place_name }}</h2>
            <p>Region: {{ item.get_region_display }}</p>
            <p>Date Added: {{ item.date_added }}</p>
            <a href="{% url "core_detail", mithila_detail.id %}">
                <button>detail</button>
            </a>
            {% if item.image %}
            <img src="{{ item.image.url }}" alt="{{ item.place_name }}">
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</h1>
{% endblock %}