{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Layout Page{% endblock %}</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="logo">
          <a href="#">MITHILA_LOGO</a>
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="signup-button">
          <button><a href="#">Sign Up</a></button>
        </div>
      </div>
    </nav>
    <div class="social-media">
      <a href="#">Instagram</a>
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">LinkedIn</a>
      <a href="#">Youtube</a>
    </div>
    <br>
    {% block content %}{% endblock %}
    <br>
  </body>
</html>
