<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mithila | About</title>
</head>
<body>
    <table>
        <tr>
            <th>
                Youtube
            </th>
            <td>
                Ram Gopal
            </td>
        </tr>
        <tr>
            <th>
                Facebook
            </th>
            <td>
                Bibhisan
            </td>
        </tr>
    </table>
    <br>
    <details>
        <summary>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quae, earum voluptatibus nihil, obcaecati perspiciatis nesciunt voluptates laboriosam, officiis non excepturi tempora cupiditate ipsa labore quidem? Adipisci, minima mollitia. Vero.
        </summary>
    </details>
    <br>
    <section>
        randeep
    </section>
    <br>
    <section>
        umesh
    </section>
    <section>
        ramesh
    </section>
</body>
</html>